[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
keyboard = "*"

[dev-packages]
pyqt5-tools = "*"
auto-py-to-exe = "*"

[requires]
python_version = "3.8"

[scripts]
designer = " qt5-tools designer"
